export(madingley_compile)
export(madingley_download_source)
export(madingley_init)
export(madingley_inputs)
export(madingley_plot)
export(madingley_run)
export(madingley_version)
export(plot_densities)
export(plot_foodweb)
export(plot_spatialabundances)
export(plot_spatialbiomass)
export(plot_spatialwindow)
export(plot_timelines)
export(plot_trophicpyramid)
export(plot_window)
export(list_output_paths)
import(sp)
import(raster)
importFrom(data.table, fwrite)
